.muon-reset-page-title {
  background: -webkit-linear-gradient(360deg, #36d1dc 0%, #5b86e5 99.77%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  padding: 16px 0;
}

.muon-reset-input {
  width: 100%;
  max-width: 472px;
}
