.muon-notification {
  width: 465px;
  min-height: 450px;
  max-height: 70vh;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  background: #ffffff;
  overflow: auto;
}

.muon-notification h5 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-feature-settings: "liga" off;
  color: #18191f;
  margin-bottom: 0;
}

.muon-messaged-notice {
  padding: 20px 36px;
  background: linear-gradient(
    90.13deg,
    rgba(54, 209, 220, 0.05) 0%,
    rgba(91, 134, 229, 0.05) 99.77%
  );
  border-bottom: 1px solid #eaeaea;
}

.muon-messaged-notice-img {
  margin-right: 22px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.more-menu {
  width: 183px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  min-height: 171px;
  position: absolute;
  right: 0;
  top: 30px;
  padding: 18px 0;
}

.more-menu-item {
  padding: 0 17px;
  margin-bottom: 12px;
}

.more-menu-item img {
  margin-right: 10px;
}

.more-menu-item h6 {
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "liga" off;
  color: #18191f;
  font-weight: normal !important;
}

.more-menu-item p {
  font-size: 10px;
  line-height: 12px;
  font-feature-settings: "liga" off;
  color: rgba(24, 25, 31, 0.3) !important;
  margin-top: 4px !important;
}

.more-dropdown {
  position: relative;
}

.more-icon {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.muon-main-content,
.muon-main-content span {
  font-size: 14px !important;
  line-height: 16px !important;
  font-feature-settings: "liga" off;
  color: #18191f !important;
  margin-bottom: 6px !important;
}

.muon-notice-from {
  margin-bottom: 4px !important;
}

.muon-main-content span {
  font-weight: 600;
}

.muon-notify-time {
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "liga" off;
  color: #18191f;
  margin-left: 6.33px;
}

.muon-previous-notice {
  padding: 21px 31px;
}

.muon-previous-notice h6 {
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "liga" off;
  color: #18191f;
  margin: 0;
}

.muon-previous-notice p {
  font-size: 14px !important;
  line-height: 16px !important;
  font-feature-settings: "liga" off;
  color: #18191f !important;
  margin: 0 !important;
}

.notice-primary-btn {
  background: linear-gradient(90.13deg, #36d1dc 0%, #5b86e5 99.77%);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "liga" off;
  color: #ffffff;
  height: 27px;
  padding: 0 12px;
}

.notice-secondary-btn {
  border: 1px solid rgba(24, 25, 31, 0.6);
  border-radius: 5px;
  background: white;
  height: 27px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "liga" off;
  color: #18191f;
}

.notice-primary-btn:focus {
  outline: none;
}

.muon-event-notice-txt,
.muon-event-notice-txt span {
  font-size: 14px !important;
  line-height: 16px !important;
  font-feature-settings: "liga" off;
  color: rgba(24, 25, 31, 0.6) !important;
}

.muon-event-notice-txt span {
  font-weight: 600;
}
