.muon-investor-passion {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #39363d;
}


.muon-investor-card-txt{
    font-size: 12px !important;
    line-height: 120% !important;
}